
div{
    width: 700 px;
    border-color: #5f9ea0;
    border: 7px solid #5f9ea0;
    background-color: #fffdd0;



}
label, option{
    color: black;
    font-family: "copperplate", copperplate, fantasy}
    

   
